[submodule "cynosure-2"]
	path = cynosure-2
	url = git@github.com:oc-ulos/oc-cynosure-2
[submodule "cle-toolchain"]
	path = cle-toolchain
	url = git@github.com:oc-ulos/cle-toolchain
[submodule "liblua"]
	path = liblua
	url = git@github.com:oc-ulos/liblua.git
[submodule "reknit"]
	path = reknit
	url = git@github.com:oc-ulos/reknit
[submodule "coreutils"]
	path = coreutils
	url = git@github.com:oc-ulos/coreutils
[submodule "cldr"]
	path = cldr
	url = git@github.com:oc-ulos/cldr-2
[submodule "luash"]
	path = luash
	url = git@github.com:oc-ulos/luash
